Django==3.2.15
django-debug-toolbar==3.2.1
django-phonenumber-field==7.0.1
djangorestframework==3.14.0
environs==9.3.2
flake8==5.0.4
geopy==2.3.0
phonenumberslite==8.13.2
Pillow==9.4.0
requests==2.28.1
dj_database_url==1.2.0
rollbar==0.16.3
psycopg2-binary==2.9.5
